/* Ajouter IBM Plex Sans depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

/* Définir la police Guton pour la police locale */
@font-face {
  font-family: 'Guton';
  src: url('fonts/Guton-Regular.otf') format('opentype'); /* Format pour .otf */
  font-weight: normal;
  font-style: normal;
}

/* Appliquer la police IBM Plex Sans partout sauf dans le header */
body {
  font-family: 'IBM Plex Sans', sans-serif;
}

/* Appliquer la police Guton dans le header */
.d-header, .d-header * {
  font-family: 'Guton', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700; /* Appliquer le poids Bold sur les titres */
}
