<div class="below-site-header-outlet search-banner welcome-banner">
  <div class="custom-search-banner welcome-banner__inner-wrapper">
    <div class="custom-search-banner-wrap welcome-banner__wrap">
      <h1>Bienvenue sur le Forum</h1>
      <p>Ressources utiles : 
        <a href="https://example.com/tutoriels" style="text-decoration:underline;color:#07556d">Tutoriels</a> | 
        <a href="https://example.com/manuel" style="text-decoration:underline;color:#07556d">Manuel</a>
      </p>
      <div class="search-menu welcome-banner__search-menu">
        <a href="/search?expanded=true" class="btn no-text btn-icon btn search-icon" title="Ouvrir la recherche avancée">
          <svg class="fa d-icon d-icon-magnifying-glass svg-icon svg-string" xmlns="http://www.w3.org/2000/svg">
            <use href="#magnifying-glass"></use>
          </svg>
          <span aria-hidden="true"></span>
        </a>
        <div class="search-menu-container menu-panel-results">
          <div class="search-input search-input--">
            <input id="custom-search-input" class="search-term__input" autocomplete="off" enterkeyhint="search" placeholder="Rechercher" aria-label="Rechercher" type="search">
            <div class="searching">
              <button class="btn no-text btn-icon show-advanced-search btn-transparent" title="Ouvrir la recherche avancée" type="button">
                <svg class="fa d-icon d-icon-sliders svg-icon svg-string" xmlns="http://www.w3.org/2000/svg">
                  <use href="#sliders"></use>
                </svg>
                <span aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>